<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenido a mi página{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a mi página</h1>
        <p>Soy Andres Ricardo Cuxin Xool</p>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/hobbies">Mis pasatiempos</a></li>
            <li><a href="/greeting">Un gusto conocerlo</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>